
<div class="chart-header">
  <p class="chart-title">GERAL</p>
</div>
<div class="chart-container">

  <div class="cards-container">
    
    <div class="sec-card">
      <p class="card-title">Máximo arrecadado</p>
      <p class="card-number">R${{ getMaxValue("Ever") }}</p>
    </div>
    <div class="main-card">
      <p class="card-title">Média de arrecadação</p>
      <p class="card-number">R${{ getAverageValue("Ever") }}</p>
    </div>
  
    <div class="sec-card">
      <p class="card-title">Mínimo arrecadado</p>
      <p class="card-number">R${{ getMinValue("Ever") }}</p>
    </div>
  </div>


  <div class="unique-chart">
    <canvas  id="myChart" ></canvas>
  </div>
  <div class="unique-chart">
    <canvas  id="secondChart" ></canvas>
  </div>
</div>

<div class="chart-header">
  <p class="chart-title">MES ATUAL</p>
</div>
<div class="chart-container">
  <div class="cards-container">
    
    <div class="sec-card">
      <p class="card-title">Máximo arrecadado</p>
      <p class="card-number">R${{ getMaxValue("Monthly") }}</p>
    </div>
    <div class="main-card">
      <p class="card-title">Média de arrecadação</p>
      <p class="card-number">R${{ getAverageValue("Monthly") }}</p>
    </div>
  
    <div class="sec-card">
      <p class="card-title">Mínimo arrecadado</p>
      <p class="card-number">R${{ getMinValue("Monthly") }}</p>
    </div>
  </div>

  <div class="unique-chart">
    <canvas  id="myChart2" ></canvas>
  </div>
  <div class="unique-chart">
    <canvas  id="secondChart2" ></canvas>
  </div>

</div>

<div class="chart-header">
  <p class="chart-title">CANCELADOS</p>
</div>
<div class="chart-container">
  <div class="cards-container">
    
    <div class="sec-card">
      <p class="card-title">Máximo arrecadado</p>
      <p class="card-number">R${{ getMaxValue("C") }}</p>
    </div>
    <div class="main-card">
      <p class="card-title">Média de arrecadação</p>
      <p class="card-number">R${{ getAverageValue("C") }}</p>
    </div>
  
    <div class="sec-card">
      <p class="card-title">Mínimo arrecadado</p>
      <p class="card-number">R${{ getMinValue("C") }}</p>
    </div>
  </div>
  <div class="unique-chart">
    <canvas  id="myChart3" ></canvas>
  </div>
  <div class="unique-chart">
    <canvas  id="secondChart3" ></canvas>
  </div>
</div>

