<div class="cards-container">
  <div class="main-card">
    <p class="card-title">Média de arrecadação</p>
    <!--<p class="card-number">R${{ getAverageValue() }}</p>-->
  </div>

  <div class="sec-card">
    <p class="card-title">Máximo arrecadado (dia)</p>
    <!--<p class="card-number">R${{ getMaxValue() }}</p>-->
  </div>

  <div class="sec-card">
    <p class="card-title">Mínimo arrecadado (dia)</p>
    <!--<p class="card-number">R${{ getMinValue() }}</p>-->
  </div>

  <div class="last-card">
    <p class="card-title">Produto mais vendido</p>
    <!--<p class="card-subtitle">{{ getProductName()}}</p>-->
    <!--<p class="card-number">{{ getProductPrice()}}</p>-->
  </div>
</div>
<div class="chart-header">
  <p class="chart-title">RECEITA TOTAL</p>
  <!-- <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="end">
    <mat-tab label="Mês"/>
    <mat-tab label="Ano"/>
  </mat-tab-group> -->
  <div>
    <!-- <p class="chart-title">MÊS</p>
    <p class="chart-title">ANO</p> -->
  </div>
</div>
<!-- <div class="chart-container">
</div> -->
<div class="chart-container">
  <canvas  id="MyChart" >{{ createChart() }}</canvas>
</div>