<div class="cards-container">
  <div class="main-card">
    <p class="card-title">Média de arrecadação</p>
    <p class="card-number">R${{ getAverageValue() }}</p>
  </div>

  <div class="sec-card">
    <p class="card-title">Máximo arrecadado</p>
    <p class="card-number">R${{ getMaxValue() }}</p>
  </div>

  <div class="sec-card">
    <p class="card-title">Mínimo arrecadado</p>
    <p class="card-number">R${{ getMinValue() }}</p>
  </div>

  <!-- <div class="last-card">
    <p class="card-title">Produto mais vendido</p>
    <p class="card-subtitle">{{ getProductName()}}</p>
    <p class="card-number">{{ getProductPrice()}}</p>
  </div> -->
</div>
<div class="chart-header">
  <p class="chart-title">RECEITA TOTAL</p>
  <div>
    <!-- <p class="chart-title">MÊS</p>
    <p class="chart-title">ANO</p> -->
  </div>
</div>
<div class="chart-container">
  <canvas  id="myChart" ></canvas>
  <canvas  id="secondChart" ></canvas>
  <canvas id="thirdChart" ></canvas>
</div>